rake h3 Title:
p= @question.title
h3 Body:
p= @question.body

p= link_to 'Back', questions_path
- if author_of?(@question)
  = link_to 'Delete Question', question_path(@question, :authenticity_token => form_authenticity_token()), method: :delete, data: { confirm: 'Are You sure?' }

h3 Answers
== render @question.answers
- if user_signed_in?
  = link_to 'Your Answer', new_question_answer_path(@question)
- else
  p
     | You need to sign in or sign up before create answer.