<% if @answer.errors.present? %>
   <% @answer.errors.full_messages.each do |message| %>
     $('.answer-errors').append('<ul><li><%= j message %></li></ul>');
   <% end %>
<% else %>
  $('.answers').append("<%= j render @answer %>")
  $('#answer_body').val('');
<% end %>