<% if @answer.destroyed? %>
  <% id = @answer.id %>
  $('.notice').append("<p>Your answer successfully destroyed.</p>")
  $('<%= "#answer-#{ @answer.id }" %>').remove();
<% else %>
  $('.notice').append("<p >Your can't delete answer </p>")
<% end %>